
@font-face {
  font-family: "OpenSansHebrewCondensedRegular";
  src: local("AssistantRegular"),
  url("./fonts/OpenSansHebrewCondensed-Light.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "AssistantRegular";
  src: local("AssistantRegular"),
  url("./fonts/Assistant-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "AssistantBold";
  src: local("AssistantBold"),
  url("./fonts/Assistant-Bold.ttf") format("truetype");
  font-weight: bold;
}

.image {
  transition: opacity 1s;
  opacity: 1;
}
.image.hide {
  opacity: 0;
  pointer-events:none;
}

*::placeholder {
  /* modern browser */
  color: #b0b0b0;
}
