
@font-face {
  font-family: "OpenSansHebrewCondensedRegular";
  src: local("AssistantRegular"),
  url("./fonts/OpenSansHebrewCondensed-Light.ttf") format("truetype");
  font-weight: normal;
}



.image {
  transition: opacity 1s;
  opacity: 1;
}
.image.hide {
  opacity: 0;
  pointer-events:none;
}
